[project]
name = "clique-homology"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy",
    "networkx",
    "matplotlib"
]

[project.optional-dependencies]
dev = [
    "pytest",
    "ruff"
]